*,
*::before,
*::after {
	box-sizing: $box-sizing;
}

::selection {
	color: $selection-color;
	background: $selection-background;
}

::-webkit-scrollbar {
	width: $scrollbar-width;
}

::-webkit-scrollbar-thumb {
	border: $scrollbar-thumb-border;
	border-radius: $scrollbar-radius;
	background-color: $scrollbar-thumb-color;
}

::-webkit-scrollbar-track {
	border-radius: $scrollbar-radius;
	background-color: $scrollbar-track-color;
}

html {
	font-size: $html-font-size;

	@if $scroll-behavior {
		scroll-behavior: $scroll-behavior;
	}
}

body {
	letter-spacing: $body-font-letter-spacing;

	color: $body-font-color;
	background-color: $body-background-color;

	font-family: $body-font-family;
	font-size: $body-font-size;
	font-weight: $body-font-weight;
	font-style: $body-font-style;
	line-height: $body-font-line-height;
	text-size-adjust: none;
}

a {
	transition: $link-transition-color;

	color: $link-color;

	&:hover {
		color: $link-hover-color;
	}
}

img {
	width: 100%;
}

hr {
	height: $hr-height;

	background-color: $hr-color;
}
