html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;

	vertical-align: baseline;

	border: 0;

	font: inherit;
	font-size: 100%;
}

img {
	vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
[hidden] {
	display: none;
}

html {
	text-size-adjust: 100%;
}

body {
	line-height: 1;
}

button {
	padding: 0;

	cursor: pointer;
	appearance: button;

	border: none;
	background: none;
}

button,
input,
optgroup,
select,
textarea {
	margin: 0;

	font-family: inherit;
}

menu,
ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
}

table {
	border-spacing: 0;

	border-collapse: collapse;
}

textarea {
	resize: none;
}

hr {
	margin: 0;

	border: none;
}

template {
	display: none;
}

// Для Internet Explorer
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
	display: none;

	width: 0;
	height: 0;
}

// Для Chrome и других браузеров на основе WebKit
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

